body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px;/*Aquí es para hacer más chico dentro de*/
  
  }

  .left-panel {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
  
  }
  /*Aquí modifiqué los bordes de mi visualización*/
  .right-panel {
    width: 45%;
    padding: 50px;
    border: 1px solid #ccc;
    height: 430px;
  }
  